nav {
  background-color: darkblue;
  padding: 10px
}

nav a {
 color: white;
 display: block;
 padding: 20px;
}

h1 {
 color: darkblue;
}

img{
 width: 150px;
 height: auto;
 border: 1px solid black;
 padding: 2px;
 box-shadow: 0 0 30px grey;
}

p{
 padding: 10px;
}

main{
  max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background: #eee;
    color: #333;
    text-align: center;
}

aside img{
  width: 200px;
  height: auto;
}

aside.bkv{
  background: honeydew;
}

aside.bkv img{
  width: 300px
}

aside.cmp{
  background: thistle
}

h3{
  color: rebeccapurple
}
h4{
  color: saddlebrown
}

aside.cmp img{
  width: 350px
}

main img{
  width: 150;
  height: auto;
}

p{padding: 0;}

footer{
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

